/*app.wxss*/
/* #ifndef APP-NVUE */
page {
	background-color: #FFF;
	font-size: 32rpx;
	font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif;
}

::-webkit-scrollbar {
	width: 0 !important;
	height: 0 !important;
	color: transparent !important;
	display: none;
}

button::after {
	border: none;
}

.container {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
}
/* #endif */
